html, body, #map-canvas {

        height: 100%;
        margin: auto;
        padding: 0px;
        width: 90%;
        background-color: black;
        color: white;
        clear: both;
      }



img {padding-bottom: 20px;}

a {
  color: gray;
}

p {
  margin: auto;
  width: 90%;
  padding-top: 10px;
}

.menu {
  float: right;
  margin: 150px 70px 0 0;
}

.scores, .scores svg {
  position: absolute;
}

.scores circle {
  fill: green;
  stroke: black;
  stroke-width: 1.5px;
  opacity: 50%;
}

.scores rect {
  fill: red;
  stroke: black;
  stroke-width: 1.5px;
}

#dropdown {
  color: black;
}
