html, body, #map-canvas {
        height: 100%;
        margin: auto;
        padding: 0px;
        width: 90%;
        background-color: black;
        color: white;
      }

img {padding-bottom: 20px;}

.scores, .scores svg {
  position: absolute;
}

.scores circle {
  fill: green;
  stroke: black;
  stroke-width: 1.5px;
  opacity: 50%;
}


