<img src="/img/Scorz.png" alt="Scorz" />

<div class="menu">
  <form action="/drugs" method="get">
    <select name="drugs" id="dropdown">
      <option value="blank"> ----- </option>
      <option value="MARIJUANA">Marijuana</option>
      <option value="COCAINE">Cocaine &amp; Crack</option>
      <option value="HEROIN">Heroin</option>
      <option value="METH">Methamphetamine</option>
      <option value="OPIUM">Opium</option>
      <option value="HALLUCINOGENIC">Hallucinogens</option>


    </select>
  </form>
</div>

<div id="map-canvas"></div>
